In [3]:
"""
CS 281. Homework 1 2025. Machine Bias

Your code and short answers will go into this file. 
"""
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns

## A. Machine Bias (6 points)


### A1. 

### A2. 

### A3.

## B. Broward County dataset (17 points)

In [4]:
## Load the COMPAS Dataset
raw_data = pd.read_csv('compas-scores-two-years.csv')
print('Num rows: %d' % len(raw_data))

# what are the column names? What do they mean?
print(raw_data.columns)

## browse it
raw_data.head()

Num rows: 7214
Index(['id', 'name', 'first', 'last', 'compas_screening_date', 'sex', 'dob',
       'age', 'age_cat', 'race', 'juv_fel_count', 'decile_score',
       'juv_misd_count', 'juv_other_count', 'priors_count',
       'days_b_screening_arrest', 'c_jail_in', 'c_jail_out', 'c_case_number',
       'c_offense_date', 'c_arrest_date', 'c_days_from_compas',
       'c_charge_degree', 'c_charge_desc', 'is_recid', 'r_case_number',
       'r_charge_degree', 'r_days_from_arrest', 'r_offense_date',
       'r_charge_desc', 'r_jail_in', 'r_jail_out', 'violent_recid',
       'is_violent_recid', 'vr_case_number', 'vr_charge_degree',
       'vr_offense_date', 'vr_charge_desc', 'type_of_assessment',
       'decile_score.1', 'score_text', 'screening_date',
       'v_type_of_assessment', 'v_decile_score', 'v_score_text',
       'v_screening_date', 'in_custody', 'out_custody', 'priors_count.1',
       'start', 'end', 'event', 'two_year_recid'],
      dtype='object')

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
3,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
4,6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,...,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0

### B1. Pre-processing

In [ ]:
# ## Apply the filtering described in question B.1 of hw1.pdf.
# ## df should be a pandas.DataFrame object

df =
print('Q1: Num data points after filtering: %d' % len(df))

### B2. Demographics

In [ ]:
## Count the number of individuals across racial identities, age categories and
# binary sex categories. Report your numbers.

### B3. Distribution of COMPAS scores

In [ ]:
# a. Plot the distribution of scores for all individuals (a single histogram)

# b. Plot the distribution of scores for (four separate histograms): 
# Black women, white women, Black men, white men

# c. Repeat the plots, this time using stacked bars: color-coding the proportion
# of each bar corresponding to individuals who did vs did not recidivate 
# (two_year_recid == 0 in one color, two_year_recid == 1 in another).
# Hint: find pointers for creating stacked bars here https://www.pythoncharts.com/python/stacked-bar-charts/

### d.

### B4. Reflection point. 
#### a. 

#### b. 

#### c. 

#### d.

## C. Fairness metrics of COMPAS scores

For consistency with ProPublica’s analysis, we will assume that the decision threshold is at COMPAS risk 5 - in other words, that all individuals in the low risk category are recommended for release (d=0), but all individuals in the medium and high risk categories are not (d=1). 

Hint: add a binary column to your data frame that corresponds to this binary decision.

### C1. Intuition behind fairness metrics

#### a. Add your latex expression to the second column, Statistical Property, and a brief sentence in the third column.

| Metric Name      | Statistical property | If this metric is satisfied, we can be sure that |
| ----------- | ----------- | ----------- |
| Independence        | $$ $$ |   |
| Separation - FNR    | $$ $$ |   |
| Separation - FPR    | $$ $$ |   |
| Sufficiency - PPR   | $$ $$ |   |

#### b.

### C2. Calculations
For each of the following fairness metrics, calculate the appropriate statistic for 5 variants of the data: (1) all individuals, (2) Black women, (3) white women, (4) Black men, (5) white men. Assume the decision threshold of 5 in all cases except for sufficiency (using decile scores).

* Independence.
* Separation - false negative rate
* Separation - false positive rate
* Sufficiency - using decile scores
* Sufficiency - using binary decisions

In [ ]:
# Before continuing, filter the data to include only
# African-American and Cacuasian individuals

df_bw =

#### Independence

#### Separation - false negative rate

#### Separation - false positive rate

#### Sufficiency - using decile scores

#### Sufficiency - using binary decisions

### C3. Interpretation. 
a. Independence.



b.  Separation

    i. false negative rate

    
    ii. false positive rate



c. Sufficiency (positive predictive value)

    i. using decile scores 
    
    ii. using binary decisions

## D. Final reflection point (9 points)
Please respond to the following questions (2-3 sentences or bullet points each).

### D1. 

### D2.


### D3.